<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<section id="contact">
    <div class="banner">
        <div class="row">
            <div class="col-lg-6">
                <h2>Keep in Touch:</h2>
            </div>
            <div id="share-bar">
                <div class="share-buttons text-center">
                    <a  href="https://www.linkedin.com/in/i-ta-lee-ab753172/"
                        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                        title="Share on LinkedIn" >
                        <i class="fa fa-linkedin share-button"> linkedin</i>
                    </a>

                    <a  href="mailto:lee2226@purdue.edu"
                        title="Share via Email" >
                        <i class="fa fa-envelope share-button"> email</i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
