    <!-- About Section -->
  <section id="education">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                      Education
                    </h2>
                    <div class="lead">
                      <ul>
                        <li>Ph.D., Computer Science
                            <ul>
                              <li>Purdue University, USA</li>
                              <li>August 2015 - present</li>
                              <li>Natural Language Processing Lab</li>
                              <li>Advisor: <a href="https://www.cs.purdue.edu/homes/dgoldwas/">Dan Goldwasser</a></li>
                            </ul>
                        </li>
                        <li>MS, Computer Science
                            <ul>
                              <li>National Tsing Hua University, Hsinchu, Taiwan</li>
                              <li>September 2008 - June 2010</li>
                              
                              <li>Wireless Mobile Networking Lab</li>
                              <li>Advisor: <a href="http://www.cs.nthu.edu.tw/~sryang/">Shun-Ren Yang</a></li>
                            </ul>
                        </li>
                        <li>BS, Computer Science and Engineering
                            <ul>
                              <li>Yuan Ze University, Taoyuan, Taiwan</li>
                              <li>September 2004 - June 2008</li>                
                            </ul>
                        </li>
                      </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/education.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
  </section>
