    <!-- About Section -->
    <section id="work_experience">
      <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                    Work Experience
                    </h2>
                    <div class="lead">
                      <ul>
                        <li><b>Research Intern</b></li>
                        <ul>
                            <li>Hewlett Packard Enterprise, Sunnyvale, CA</li>
                            <li>May 2017 - August 2017</li>
                            <li>Deep Learning</li>
                        </ul>
                        <li><b>Senior Software Engineer</b></li>
                        <ul>
                            <li>Trend Micro Inc., Taipei Taiwan</li>
                            <li>October 2013 - September 2014</li>
                            <li>Threat Detection Software</li>
                        </ul>
                        <li><b>Senior Software Engineer</b></li>
                        <ul>
                            <li>Moxa Inc., Taipei Taiwan</li>
                            <li>October 2010 - September 2013</li>
                            <li>Embedded Systems</li>
                        </ul>                    
                      </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/hpe.png" alt="">
                    <img class="img-responsive" src="img/trendmicro.png" alt="">
                    <img class="img-responsive" src="img/moxa.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

      </div>
    </section>
