    <!-- About Section -->
    <section id="work_experience" class="container content-section-a text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Work Experience</h2>
              <br/>
              <p>- TA at Purdue</p>
              <p>- RA at Academic Sinica</p>
              <p>- Senior Software Engineer at TrendMicro</p>
              <p>- Senior Software Engineer at Moxa</p>
                <br/>
              </div>
        </div>
    </section>
